// Variables
@import "variables";


body {
  background-color: $background-color;
  font-family: degular,sans-serif;
  font-weight: 500;
  font-style: normal;
}

.text {

  font-family: degular-display,sans-serif;
  font-weight: 600;
  font-size: 50px;
  font-style: normal;
  color: $light-blue;
  text-align: center;
  position: absolute;
  margin-left: 30%;
  margin-top: 20%;
}

.fram1{
  position: absolute;
}

.star2{
  position: absolute;
  margin-left: 500px;
  margin-top: 390px;
}

.logo{
  position: absolute;
  margin-left: 37%;
  margin-top: 15%;
}

.star1{
  position: absolute;
  margin-top: 10px;
  margin-left: 87%;
}

.eli{
  position: absolute;
  margin-left: 34%;
  margin-top: 36%;
}

.star3{
  position: absolute;
  margin-left: 66%;
  margin-top: 29%;
}

.projet{
  color: $white;
  font-size: 20px;
  position: absolute;
  padding-top: 1px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: $light-orange;
  margin-left: 39%;
  margin-top: 35%;
  transform: rotate(-2deg);
}

.bloc{
  position: absolute;
  padding-top: 70px;
  padding-left: 50px;
  padding-right: 370px;
  background-color: $dark-orange;
  margin-left: 38%;
  margin-top: 36%;
}